
Welcome to GhostBSD!

Release Notes, Errata:  https://www.GhostBSD.org/news
Security Advisories:    https://www.FreeBSD.org/security/
GhostBSD Docs:          https://wiki.GhostBSD.org/
GhostBSD FAQ:           https://wiki.GhostBSD.org/index.php/FAQ
GhostBSD Forums:        https://forums.GhostBSD.org/

Show the version of GhostBSD installed:  ghostbsd-version
Please include that output and any error messages when posting questions.
