
Welcome to GhostBSD!

GhostBSD Home:          https://www.ghostbsd.org/
Security Advisories:    https://www.freebsd.org/security/advisories/
GhostBSD Documentation: https://ghostbsd-documentation-portal.readthedocs.io/
GhostBSD Forums:        https://forums.ghostbsd.org/
GhostBSD development:   https://github.com/orgs/ghostbsd/projects/4

Show the version of GhostBSD installed:  ghostbsd-version
Please include that output and any error messages when posting questions.
