# $FreeBSD$
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    boot
        defaults
        ..
        dtb
            overlays              tags=package=runtime
            ..
        ..
        firmware
        ..
        lua
        ..
        kernel
        ..
        modules
        ..
        zfs
        ..
    ..
    dev             mode=0555
    ..
    etc
        X11
        ..
        autofs
        ..
        bluetooth
        ..
	conf.d
	..
        cron.d
        ..
        defaults
        ..
        devd
        ..
        dma
        ..
        gss
	..
	init.d
        ..
	local.d
	..
        mail
        ..
        mtree
        ..
        newsyslog.conf.d
        ..
        ntp             mode=0700
        ..
        pam.d
        ..
        periodic
            daily
            ..
            monthly
            ..
            security
            ..
            weekly
            ..
        ..
        pkg
        ..
        ppp
        ..
        rc.conf.d
        ..
        rc.d
        ..
	runlevels
	    boot
	    ..
	    default
	    ..
	    nonetwork
	    ..
	    shutdown
	    ..
	    sysinit
	    ..
	..
        security
        ..
        ssh
        ..
        ssl
        ..
	sysctl.d
	..
        syslog.d
        ..
        zfs
        ..
    ..
    lib
        casper
        ..
        geom
        ..
    ..
    libexec
	dhcpcd-hooks
        ..
        resolvconf
        ..
	rc
	    bin
	    ..
	    init.d
	    ..
	    sbin
	    ..
	    sh
	    ..
	    tmp
	    ..
	..
    ..
    media
    ..
    mnt
    ..
    net
    ..
    proc            mode=0555
    ..
    rescue
    ..
    root
    ..
    sbin
    ..
    tmp             mode=01777
    ..
    usr
    ..
    var
    ..
..
